

<style type="text/css">
    #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
    }
    #map { border: solid green 1px; }
</style>

<div>
    <div id="map">
        {{map.markers}}
    <google-map id="map-canvas" center="map.center" zoom="map.zoom" events="map.events" options="map.options">
        <!--div ng-repeat="l in map.markers">
            <marker id="m2"
                    coords="l.coords"
                    icon="map.pin"
                    showwindow="true"
                    options="l.options"
                    events="l.events">
                <window templateUrl='HTML/template.html'>hello</window>
            </marker>
        </div-->
        <div x-directive maplocation marker="map.marker"></div>
    </google-map>

    <div>

        <button ng-click="homeclick">Home Location</button>
        <button>Close Intersection</button>
    </div>


    </div>
</div>